@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Ubuntu&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body
{
    background-color: darkorchid;

}
.all
{
    display: flex;
    margin: 0rem 19rem;
}
.price-heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    margin: 1rem 
}
.pricing-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 16rem;
    height: 23rem;
    margin: 4rem 2rem;
    border-radius: 0 0 3rem 3rem;
}


.pricing-items
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 1rem 2rem;
    margin: 0px 3rem;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transition: 0.2s;
}
.pricing-items:hover {
    transform: scale(1.01);
    box-shadow: 0 2rem 2rem 0rem #753a93;
    background-color: skyblue;
    transition: 0.2s;
}

.pricing-kit
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    size: 1%;
    width: 10rem;
    height: 3rem;
    top: 152px;
    left: 24rem;
    background-color: skyblue;
    border-radius: 0 0 1rem 1rem;
    transition: 0.2s;
}
.pricing
{
    color: skyblue;
    font-size: 23px;
    text-align: center;
}

.offer
{
    margin: 18px -7px;
}

.offer li
{
    margin-bottom: 3px;
}
.order-btn
{
    background: transparent;
    width: 8rem;
    height: 42px;
    border-radius: 23px;
    border-color: #2e2e2e;
    transition: 0.2s;
}
.order-btn:hover{
    background-color: rgb(189, 185, 185);
    border-color: black;
    font-weight: 1000;
}
.pricing-kit2
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    size: 1%;
    width: 10rem;
    height: 3rem;
    top: 152px;
    left: 44rem;
    background-color: skyblue;
    border-radius: 0 0 1rem 1rem;
}
.pricing-kit3
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    size: 1%;
    width: 10rem;
    height: 3rem;
    top: 152px;
    left: 64rem;
    background-color: skyblue;
    border-radius: 0 0 1rem 1rem;
}
